name: "Application Test"

on:
    push:

jobs:
    test:
        runs-on: windows-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - uses: actions/setup-go@v6
              with:
                  go-version: "1.20"

            - name: Running Tests
              run: go test
