name: Create Github Release

on:
  push:
    tags: "v*"

jobs:
  create-release:
    runs-on: windows-latest

    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - uses: actions/download-artifact@v5
        with:
          pattern: "WindowsBuild-*"
          path: "artifact"

      - name: Create Release for Windows
        uses: ncipollo/release-action@v1
        with:
          artifacts: "artifact/WindowsBuild-*"
          name: ParseLegacy ${{ github.ref_name }} for Windows
          tag: ${{ github.ref_name }}
        
